<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>title</title>
    <script src="Content/jquery-2.1.4.min.js"></script>
    <script src='Content/sketch.min.js'></script>
</head>
<body>
    <canvas id="myCanvas" width="28" height="28" style="border-style: solid"></canvas>
    <form name="imageForm" action="values" method="post" style="display: none">
        <input type="text" name="image" id="image">
        <input type="submit" value="Submit">
    </form>
    <button type="button" onclick="uploadImage()">Submit</button>
    <script type="text/javascript">
        $(function () {
            $('#myCanvas').sketch({defaultSize: 2});
        });
        document.uploadImage = function() {
            $('#image').val(document.getElementById('myCanvas').toDataURL('image/png'));
            document.forms["imageForm"].submit();
        };
    </script>
</body>
</html>
