@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://github.com/pavlosmcg/neural-network" target="_blank">About</a>
            <a href="https://github.com/pavlosmcg" target="_blank">Created by @@pavlosmcg</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
